<div class="container" style="background-color: white;padding: 0px">
  <div style=";background-color: ghostwhite;border-radius: 8px;border-top: none">
    <div style="background-image: linear-gradient(141deg, #044f81 0%, #1fc8db 51%, #044f81 75%);padding: 20px;text-align: center;font-weight: bold;font-size: 18px;color: white">NOC
      for Registration of Inland Vessels and Boats
    </div>


    <div style="padding: 20px;background-color: white">
      <%= render 'form' %>
    </div>
  </div>
</div>
