
<div style="padding: 5px" class="container">
  <div class="row">
    <div class="col-sm-6"><%= get_index_text('Edit Unit') %></div>
    <div class="col-sm-6 text-right"><%= link_to 'Back', units_path, :class => 'btn btn-primary', :style => 'color:white;background-color:#088351 !important' %></div>
  </div>
  <%= render 'form' %>
</div>
